#regular-menu, #mobile-menu{
    .page {
        position: relative;
        overflow: hidden;
    
        &:before{
            content: "";
            position: absolute;
            bottom: 2px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: black;
            transition: width 300ms ease;
        }
    
        &:hover{
            &:before{
                width: 100%;
            }
        }
    }
    
    .active-page {
        border-bottom: solid black;
        border-radius: 2px;
    }
}