#home-page {

    background-image: url("../../images/HomePage/background-watch.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    height: 100svh;


    button {
        height: max-content;
        position: fixed;
        top: 60%;
        left: 50%;

        transform: translate(-50%, -50%);
        transform-origin: center center;

        /* transform: none;
        transform-origin: center center; */

        border: solid 2px white;
        background-color: rgba(255, 255, 255, 0.2);
        ;
        padding: 20px;

        border-radius: 5px;

        a {
            text-decoration: none;
            color: white;
            font-size: 2rem;
        }
    }
}

@media (max-width: 900px) {

    #home-page {

        button {
            left: 50%;
            right: 25%;
        }
    }
}