#home-page {

    background-image: url("../../images/HomePage/background-watch.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    height: 100vh;
    height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;

    a {

        button {
            color: white;
            font-size: 2rem;

            height: max-content;

            border: solid 2px white;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            border-radius: 5px;
        }
    }
}

@media (max-width: 900px) {

    
}